
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

 

  h1 {
    text-align: center;
  }

  .clickfunc {
    background-color:rgb(255, 202, 103);
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px; 
  }

  .clickfunc:hover {
    background-color: lightsalmon;
  }
  .clickfunc:active {
    background-color: rgb(248, 208, 192);
  }

  #funcremove {
    display: none;
  }

  // Nav Bar 
  .nav-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    .nav-button {
      border-radius: 10px;
      text-decoration: none;
      padding: 5px 10px 5px 10px;
      color: white;
    }
  }


  // Home Page 
  // Header also controls position of NavBar
  header {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(255, 202, 103);
    position: sticky;
    top: 0;
    
  }

  .homepage {
    border-radius: 20px;
    
    border: 1px solid black;
    margin-top: 1%;
    }

    
  // Job search & Filter Component
  .flex-job-components {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
  }

    .jobsearch-container {
      display: flex;
      justify-content: space-around;
      

      .filter-container {
        display: flex;
        

        select {
          align-self: center;
        }
      }

      .jobsearch-box {
        height: 20px;
        width: 400px;
        align-self: center;
        
      }
    }

    

  .job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    

    h2 {
      font-size: 15px;
      margin: 0;
    }

    p {
      font-size: 10px;
    }
    
    .job-individual {
      border: 3px solid rgb(255, 202, 103);
      background-color: wheat;
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      justify-content: center;
      text-align: center;
      margin: 5px;
      padding: 5px;
    }

    .job-ind-link {
      text-decoration: none;
      color: magenta;
    }

    p {
      color: magenta;
    }
  }

  .add-job-component {
    background-color: rgb(255, 202, 103);
    display: none;
    
    
    h1 {
     padding: 10px;   
    }

    .form-container {
      margin: 2%;
    }
  }


  // Job individual page
  // Job individual page

  .showpage-render {
    margin: 50px;

    .showpage-title {
      background-color: rgb(255, 202, 103);
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      font-size: 50px;
      flex-wrap: wrap;

      .showpage-company-title {
        align-self: center;
        color: magenta;
        
      }
    }

    .show-page-body {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 50px;

      h4 {
        font-size: 20px;
        text-align: left;
        margin-left: 30px;
      }

      p {
        margin: 20px
      }

      .show-page-description {
        border: 1px solid black;
        font-size: 15px;
        margin: 0 30px 0 30px;
        padding: 10px;
        text-align: left;
      }
    }

  }

  



  // Register Page 

  .form-container {
      margin: 10%;
      
      text-align: center;

      form {
        display: flex;
        flex-direction: column;

      }

      .subform-container {
        display: flex;
        flex-direction: column;

        .subform-button {
          margin-top: 5px;
          margin-bottom: 20px;
        }

        h6 {
          margin: 25px 25px 25px 5px;
          text-align: left;
        }
      }

      input {
      height: 20px;      
      padding: 5px;
      margin: 3px;
      }

      textarea {
        height: 100px;
        margin: 3px;
      }

      button {
        max-width: fit-content;
      }
    }


  // Login page 
    
  .login-form-header {
    text-align: center;
  }


}