
body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    text-align: center;
  }

  // Nav Bar 
  .nav-container {
    display: flex;
    justify-content: center;


    .nav-button {
     
      border-radius: 10px;
      text-decoration: none;
      padding: 5px 10px 5px 10px;
      // margin: 0 4% 0 4%;
      color: white;
      border: 1px solid gray;
      background-color: gray;
      box-shadow: 3px 3px 4px rgb(82, 82, 82);      
    }
  }


  // Home Page 
  // Header also controls position of NavBar
  header {
    display: flex;
    justify-content: flex-start;
    width: 95vw;
  }

  .homepage {
    border-radius: 20px;
    
    border: 1px solid black;
    margin-top: 1%;
    }

  // Job search & Filter Component

  .flex-job-components {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

    .jobsearch-container {
      display: flex;
      justify-content: space-around;
      

      .filter-container {
        display: flex;
        

        select {
          align-self: center;
        }
      }

      .jobsearch-box {
        height: 20px;
        width: 400px;
        align-self: center;
        
      }
    }

    

  .job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50vw;

    h2 {
      font-size: 15px;
      margin: 0;
    }

    p {
      font-size: 10px;
    }
    
    .job-individual {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
      justify-content: center;
      text-align: center;
      margin: 5px;
      padding: 5px;
      
    }
  }

  .add-job-component {
    
    h1 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding: 10px;
      border-radius: 20px;
     
      
    }

    .form-container {
      // display: none;
    }
    



  }

  // Register Page 

  .form-container {
      margin: 10%;
      
      text-align: center;

      form {
        display: flex;
        flex-direction: column;

      }

      .subform-container {
        display: flex;
        flex-direction: column;

        .subform-button {
          margin-top: 5px;
          margin-bottom: 20px;
        }

        h6 {
          margin: 25px 25px 25px 5px;
          text-align: left;
        }
      }

      input {
      height: 20px;      
      padding: 5px;
      margin: 3px;
      }

      textarea {
        height: 100px;
        margin: 3px;
      }

      button {
        max-width: fit-content;
      }
    }


  // Login page 
    
  .login-form-header {
    text-align: center;
  }


}